In [3]:
import pandas as pd
df = pd.read_csv('./train.csv') # kaggleからダウンロードしたファイルを読み込み
# titanic_yやtitanic_xは変数名ですので、お好きなお変数名をつけて頂いて問題ありません。例）data_y = df['Survived']等
titanic_y = df['Survived']
titanic_x = df.drop(['Survived'],axis=1)
titanic_x  = titanic_x[["Pclass","Age","Sex"]] # PclassとAge、Sexの３つのカラム（列）のみを取得
titanic_x.head() # 先頭5件取得

   Pclass   Age     Sex
0       3  22.0    male
1       1  38.0  female
2       3  26.0  female
3       1  35.0  female
4       3  35.0    male